/* Stor skjerm -----------------------------------------------------*/

@media screen and (min-width: 1001px) {
  body {
    background-image: radial-gradient(white, black);
    height: 1fr;
    white-space: nowrap;
  }
  
  header {
    height: 8%;
    border-bottom: solid;
    border-width: 5px;
    border-color: rgb(239, 6, 6);
    background-image: radial-gradient(white, rgb(19, 18, 18));
    margin: 0px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .title {
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: none;
    margin-right: none;
    align-items:center; 
  }
  
  #titlelink {
    text-decoration: none;
    color:rgb(239, 6, 6);
    text-shadow: 3px 3px 3px black;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .return-homepage {
    margin-top: -90px;
    margin-left: 1%;
    margin-bottom: 2%;
  }
  
  
  #return-icon {
    font-size: 15px;
    margin-right: 10px;
  }
  
  .Categories {
    margin-top: 1%;
    margin-left: 1%;
  }
  
  #dropbutton {
    color: rgb(87, 86, 86);
    background-color: rgb(145, 145, 146);
    padding: 18px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 14px;
    border:none;
    width: 180px;
    border-radius: 3px;
  }
  
  #dropbuttonhome {
    color: rgb(87, 86, 86);
    background-color: rgb(145, 145, 146);
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 10px;
    border:solid red 1px;
    width: 100px;
    border-radius: 3px;
  }
  
  #dropdown {
    position: relative;
    display: inline-block;
    overflow: auto;
    height: 300px;
    width: 180px;
    padding-top: 20px;
  }
  
  #dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    text-align: center;
  }
  
  #dropdown-content a {
    color: black;
    padding: 19px 14px;
    text-decoration: none;
    display: block;
    font-size: 12px;
  }
  
  #dropdown-content a:hover {
    background-image: radial-gradient(white, rgb(19, 18, 18));
    font-size: 20px;
    font-weight: 700;
    color:rgb(199, 199, 199);
    text-shadow: 1px 1px 1px black;
    border-left: solid red;
  
  }
  
  #dropdown:hover #dropdown-content {
    display: block;
  }
  
  #dropdown:hover #dropbutton {
    color:rgb(239, 6, 6); 
    cursor: pointer;
  }
  
  #dropbutton a {
  text-decoration: none;
  color: rgb(68, 51, 51);
  }
  
  #dropbuttonhome a {
    text-decoration: none;
    color: rgb(87, 86, 86);
    font-size: 15px;
  }
  
  #dropbutton a:active {
  text-decoration: none;
  color:rgb(139, 139, 139);
  }
  
  #dropbuttonhome a:hover{
    color: red;
  }
  
  #dropbuttonhome a:active {
    text-decoration: none;
    color:rgb(139, 139, 139);
    }
  
  .activities {
    margin-bottom: 5%;
    margin-top: 20px;
    height: 540px;
    overflow: auto;
  }
  
  #li-act{
    text-align: center;
    font-size: 38px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    text-shadow: 3px 3px 3px black;
    margin-top: -120px;
  }
  
  .activity {
    border: solid thin red;
    background-color: rgb(145, 145, 146);
    text-decoration: none;
    color: rgb(68, 51, 51);
    display: block;
    width: 80%;
    height: 40px;
    margin-left: 10%;
    text-align: center;
    padding-top: 35px;
    font-size: 28px;
    font-weight: 500;
  }
  
  .activity:hover {
    color: red;
    zoom: 1.2;
  }
  
  
  li {
      list-style: none;    
  }
      
  li a {
      display: block;
      padding-top: 20px;
      left: 30px;
      text-decoration: none;
      font-size: 32px;
      color: gray;
      margin-top: 40px;
  }
      
  li a:hover {
      font-size: 34px;
      color: red;
  }
  
  footer {
      height: 150px;
      border-top: solid red;
      text-align: center;
      font-size: 26px;
  }
    
  footer a {
      display: inline-block;
      margin: 20px;
  }
}

/* Middels skjerm ------------------------------------------------------------------*/

@media screen and (max-width: 1000px) {
  body {
    background-image: radial-gradient(white, black);
    height: 1fr;
    white-space: nowrap;
  }
  
  header {
    height: 8%;
    border-bottom: solid;
    border-width: 5px;
    border-color: rgb(239, 6, 6);
    background-image: radial-gradient(white, rgb(19, 18, 18));
    margin: 0px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 80px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: none;
    margin-right: none;
    align-items:center; 
  }
  
  #titlelink {
    text-decoration: none;
    color:rgb(239, 6, 6);
    text-shadow: 3px 3px 3px black;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .return-homepage {
    margin-top: -90px;
    margin-left: 1%;
    margin-bottom: 2%;
  }
  
  
  #return-icon {
    font-size: 15px;
    margin-right: 10px;
  }
  
  .Categories {
    margin-top: 1%;
    margin-left: 1%;

  }

  #dropbutton {
    color: rgb(87, 86, 86);
    background-color: rgb(145, 145, 146);
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 6px;
    border:none;
    width: 95px;
    border-radius: 3px;
  } 
  
  #dropbuttonhome {
    color: rgb(87, 86, 86);
    background-color: rgb(145, 145, 146);
    padding: 10px;
    font-size: 10px;
    border:solid red 1px;
    width: 80px;
    border-radius: 3px;
  }
  
  #dropdown {
    position: relative;
    display: inline-block;
    overflow: auto;
    height: 160px;
    width: 95px;
    padding-top: 20px;
  }

  #dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    text-align: center;
  }

  #dropdown-content a {
    color: black;
    padding: 10px 7px;
    text-decoration: none;
    display: block;
    font-size: 7px;
  }

  #dropdown-content a:hover {
    background-image: radial-gradient(white, rgb(19, 18, 18));
    font-size: 7px;
    font-weight: 700;
    color:rgb(199, 199, 199);
    text-shadow: 1px 1px 1px black;
    border-left: solid red;

  }
  
  #dropdown:hover #dropdown-content {
    display: block;
}

  #dropdown:hover #dropbutton {
    color:rgb(239, 6, 6); 
    cursor: pointer;
  }

  #dropbutton a {
  text-decoration: none;
  color: rgb(68, 51, 51);
    }
  
  #dropbuttonhome a {
    text-decoration: none;
    color: rgb(87, 86, 86);
    font-size: 10px;
  }
  
  #dropbutton a:active {
  text-decoration: none;
  color:rgb(139, 139, 139);
  }
  
  #dropbuttonhome a:hover{
    color: red;
  }
  
  #dropbuttonhome a:active {
    text-decoration: none;
    color:rgb(139, 139, 139);
  }
  
  .activities {
    margin-bottom: 5%;
    margin-top: 60px;
    height: 340px;
    overflow: auto;
  } 
  
  #li-act{
    text-align: center;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    text-shadow: 3px 3px 3px black;
    margin-top: -60px;
  }
  
  .activity {
    border: solid thin red;
    background-color: rgb(145, 145, 146);
    text-decoration: none;
    color: rgb(68, 51, 51);
    display: block;
    width: 80%;
    height: 30px;
    margin-left: 10%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 500;
  }
  
  .activity:hover {
    color: red;
    zoom: 1.1;
  }
  
  
  li {
      list-style: none;    
  }
      
  li a {
      display: block;
      padding-top: 20px;
      left: 30px;
      text-decoration: none;
      font-size: 18px;
      color: gray;
      margin-top: 40px;
  }
      
  li a:hover {
      zoom: 1.1;
      color: red;
  }
  
  footer {
      height: 80px;
      border-top: solid red;
      text-align: center;
      font-size: 12px;
  }
    
  footer a {
      display: inline-block;
      margin: 8px;
  }
}

/* Liten skjerm ------------------------------------------------------------------------------------*/

@media screen and (max-width: 420px) {

   body {
    background-image: radial-gradient(white, black);
    height: 1fr;
    white-space: nowrap;
  }
  
  header {
    height: 8%;
    border-bottom: solid;
    border-width: 5px;
    border-color: rgb(239, 6, 6);
    background-image: radial-gradient(white, rgb(19, 18, 18));
    margin: 0px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: auto;
    height: 70px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: none;
    margin-right: none;
    align-items:center; 
  }
  
  #titlelink {
    text-decoration: none;
    color:rgb(239, 6, 6);
    text-shadow: 3px 3px 3px black;
    font-size: 26px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .return-homepage {
    margin-top: -73px;
    margin-left: 1%;
    margin-bottom: 2%;
  }
  
  
  #return-icon {
    font-size: 8px;
    margin-right: 10px;
  }
  
  .Categories {
    margin-top: 1%;
  }

  #dropbutton {
    color: rgb(87, 86, 86);
    background-color: rgb(145, 145, 146);
    padding: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 6px;
    border:none;
    width: 42.78px;
    border-radius: 3px;
  } 
  
  #dropbuttonhome {
    color: rgb(87, 86, 86);
    background-color: rgb(145, 145, 146);
    padding: 8px;
    font-size: 10px;
    border:solid red 1px;
    width: 70px;
    border-radius: 3px;
  }
  
  #dropdown {
    position: relative;
    display: inline-block;
    overflow: auto;
    height: 100px;
    width: 42.78px;
  }

  #dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    text-align: center;
  }

  #dropdown-content a {
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
    font-size: 6px;
  }

  #dropdown-content a:hover {
    background-image: radial-gradient(white, rgb(19, 18, 18));
    color:rgb(199, 199, 199);
    text-shadow: 1px 1px 1px black;
    border-left: solid red;
  }
  
  #dropdown:hover #dropdown-content {
    display: block;
}

  #dropdown:hover #dropbutton {
    color:rgb(239, 6, 6); 
    cursor: pointer;
  }

  #dropbutton a {
  text-decoration: none;
  color: rgb(68, 51, 51);
    }
  
  #dropbuttonhome a {
    text-decoration: none;
    color: rgb(87, 86, 86);
    font-size: 6px;
  }
  
  #dropbutton a:active {
  text-decoration: none;
  color:rgb(139, 139, 139);
  }
  
  #dropbuttonhome a:hover{
    color: red;
  }
  
  #dropbuttonhome a:active {
    text-decoration: none;
    color:rgb(139, 139, 139);
  }
  
  .activities {
    margin-bottom: 5%;
    margin-top: 40px;
    height: 340px;
    overflow: auto;
  } 
  
  #li-act{
    text-align: center;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    text-shadow: 3px 3px 3px black;
    margin-top: -20px;
  }
  
  .activity {
    border: solid thin red;
    background-color: rgb(145, 145, 146);
    text-decoration: none;
    color: rgb(68, 51, 51);
    display: block;
    width: 70%;
    height: 15px;
    margin-left: 15%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    font-weight: 500;
  }
  
  .activity:hover {
    color: red;
    zoom: 1.1;
  }
  
  
  li {
      list-style: none;    
  }
      
  li a {
      display: block;
      padding-top: 20px;
      left: 30px;
      text-decoration: none;
      font-size: 8px;
      color: gray;
      margin-top: 20px;
  }
      
  li a:hover {
      zoom: 1.1;
      color: red;
  }
  
  footer {
      height: 80px;
      border-top: solid red;
      text-align: center;
      font-size: 12px;
      margin-top: 140px;
  }
    
  footer a {
      display: inline-block;
      margin: 2px;
  }
}

